body{
    background-image: url(F11.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Archivo;
}
fieldset{
  background-color: white;
}
hr{
  width: 90%;
  float: left;
}
#contenido{
  width: 900px;
  margin: 0 auto;

}
#seccion1{
  float: left;
  width: 40%;

}
#seccion2{
  float: right;
  width: 60%;
  opacity: 0.6;
}
.perfil{
  padding:8px 8px 50px 8px;
  background-color: #f5f5f5;
  width: 240px;
  border: 1px solid #999999;
}
